body {
  background-color: black;
}
.container {
  background-color: black !important;
}
html, body {
  background-color: black;
}
.ecotest-child,
.freddie-ardley-1 {
  position: absolute;
  top: 0;
  left: -46px;
  width: 1342px;
  height: 1753px;
}
.ecotest-child {
  left: 0;
  background-color: var(--color-seagreen);
  width: 1533px;
  height: 84px;
}
.daco-4104413-1-icon {
  position: absolute;
  top: 84px;
  left: 800px;
  width: 733px;
  height: 445px;
  object-fit: cover;
}
.logo-icon {
  position: relative;
  border-radius: 131.5px;
  width: 176px;
  height: 108px;
  object-fit: cover;
}
.system {
  color: var(--color-mediumseagreen-200);
}
.eco-system {
  position: relative;
  display: inline-block;
  width: 331.05px;
  height: 53.37px;
  flex-shrink: 0;
  mix-blend-mode: normal;
  margin-left: -35px;
}
.logo {
  position: absolute;
  top: 3px;
  left: -12px;
  width: 357px;
  height: 77px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 35px;
}
.home {
  position: relative;
  cursor: pointer;
}
.index1 {
  position: absolute;
  top: 27px;
  left: 530px;
  width: 964px;
  display: flex;
  flex-direction: row;
  padding: 0 10px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 106px;
  font-size: var(--font-size-4xl);
}
.unleashing-natures-sustainabl-container {
  position: absolute;
  top: 246px;
  left: 205px;
  font-size: 76px;
  display: inline-block;
  width: 837px;
  height: 266px;
}
.together-towards-a {
  color: var(--color-mediumseagreen-100);
}
.anchor-creating-a-sustainable {
  position: absolute;
  left: 0;
  top: -100px;
}
.creating-a-sustainable-container {
  position: absolute;
  top: 881px;
  left: 96px;
  display: inline-block;
  width: 808px;
  height: 195px;
}
.lakeforestmountainoutdoorn-icon {
  position: absolute;
  top: 877px;
  left: 979px;
  border-radius: 24px;
  width: 434px;
  height: 540px;
  object-fit: cover;
}
.we-work-hand {
  color: var(--color-white);
}
.in-our-mission-container {
  top: 1116px;
  left: 96px;
  font-size: 29px;
  text-align: center;
  width: 632px;
  height: 313px;
  color: var(--color-mediumseagreen-200);
}
.donate-us1,
.in-our-mission-container,
.together-lets-create {
  position: absolute;
  display: inline-block;
}
.together-lets-create {
  top: 2026px;
  left: 480px;
  font-size: 30px;
  width: 562px;
  height: 81px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  mix-blend-mode: normal;
}
.donate-us1 {
  top: 32px;
  left: 0;
  width: 294px;
  height: 71px;
}
.donation-1-icon {
  position: absolute;
  top: 0;
  left: 305px;
  width: 111px;
  height: 111px;
  object-fit: cover;
}
.anchor-donate-us,
.donate-us {
  position: absolute;
  left: 0;
  top: -130px;
}
.donate-us {
  top: 1642px;
  left: 553px;
  box-shadow: 3px 13px 5px rgba(0, 0, 0, 0.5);
  width: 416px;
  height: 111px;
}
.phone-pe-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 51px;
  background-color: var(--color-azure);
  width: 340px;
  height: 113px;
}
.pngwing-1-icon {
  position: absolute;
  top: 10.39px;
  left: 10.54px;
  width: 310.35px;
  height: 83.13px;
  object-fit: cover;
}
.phone-pe {
  position: absolute;
  top: 1833px;
  left: 591px;
  width: 340px;
  height: 113px;
}
.our-mission-promoting {
  margin: 0;
  color: var(--color-seagreen);
}
.blank-line {
  margin: 0;
}
.our-mission-promoting-container {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 434px;
  height: 264px;
}
.anchor-building-awareness-and {
  position: absolute;
  left: 0;
  top: -230px;
}
.building-awareness-and-container,
.collaborating-for-impact-container {
  position: absolute;
  top: 0;
  left: 508px;
  display: inline-block;
  width: 427px;
  height: 244px;
}
.collaborating-for-impact-container {
  left: 1000px;
  width: 393px;
  height: 260px;
}
.our-mission-promoting-sustain-parent {
  position: absolute;
  top: 2538px;
  left: 70px;
  width: 1393px;
  height: 264px;
  font-size: var(--font-size-xl);
}
.icons8-commercial-80-1,
.icons8-goal-80-1,
.icons8-handshake-80-1 {
  position: absolute;
  top: 2424px;
  left: 225px;
  width: 80px;
  height: 80px;
  object-fit: cover;
}
.icons8-commercial-80-1,
.icons8-handshake-80-1 {
  left: 711px;
}
.icons8-handshake-80-1 {
  left: 1187px;
}
.contact-us {
  position: center;
  top: 3052px;
  left: calc(50% - 227.5px);
  font-size: 70px;
  font-family: var(--font-koulen);
  text-align: center;
  display: inline-block;
  width: 542px;
  height: 116px;
}
.contact-form-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 54px;
  background-color: #06351c;
  width: 456px;
  height: 546px;
}
.contact-form-inner,
.contact-form-item,
.rectangle-div {
  position: absolute;
  top: 57.11px;
  left: 86.76px;
  background-color: var(--color-gainsboro);
  border: 5px solid var(--color-black);
  box-sizing: border-box;
  width: 290.12px;
  height: 52.23px;
}
.contact-form-inner,
.rectangle-div {
  top: 171.32px;
}
.rectangle-div {
  top: 293.89px;
  height: 188.04px;
}
.e-mail,
.name,
.your-message {
  position: absolute;
  top: 63px;
  left: 78px;
  display: inline-block;
  width: 129px;
  height: 46px;
}
.e-mail,
.your-message {
  top: 178px;
  left: 70px;
  width: 154.78px;
  height: 38.3px;
}
.your-message {
  top: 305.73px;
  left: 86.76px;
  width: 208.22px;
}
.contact-form {
  position: absolute;
  top: 3223px;
  left: 578px;
  width: 456px;
  height: 546px;
  text-align: center;
  font-size: var(--font-size-6xl);
  color: var(--color-gray-100);
}
.ecotest-item {
  position: absolute;
  top: 3153px;
  left: 677.5px;
  border-top: 1px solid var(--color-azure);
  box-sizing: border-box;
  width: 269px;
  height: 1px;
}
.ecotest {
  position: relative;
  background-color: var(--color-black);
  width: 100%;
  height: 3963px;
  text-align: left;
  font-size: var(--font-size-31xl);
  color: var(--color-white);
  font-family: var(--font-noto-sans);
}
@media screen and (max-width: 1200px) {
  .ecotest {
    background-color: #040404;
  }
  .ecotest:hover {
    animation: 1s ease 0s infinite normal none shadow-inset-center;
    opacity: 1;
  }
  @keyframes shadow-inset-center {
    0% {
      box-shadow: inset 0 0 0 0 transparent;
    }
    to {
      box-shadow: inset 0 0 14px 0 rgb(0 0 0/50%);
    }
  }
}
